:root {
  --primaryColor: #27ae60;
  --purpuleColor: #9f55ff;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #111;
  color: #fff;
}
.header {
  padding: 28px;
  font-size: 24px;
  font-weight: 600;
  color: var(--purpuleColor);
}
.header-quote {
  font-style: italic;
  font-size: 24px;
  text-align: center;
  padding: 12px;
}
.calculate-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.calculator {
  height: 50vh;
  padding: 24px;
  width: 100%;
  max-width: 800px;
  background-color: #111;
  color: #fff;
  border: 1px solid #9f55ff;
  border-radius: 8px;
  box-shadow: 0 0 10px #9f55ff;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 40px;
}
label {
  color: #fff;
  font-size: 16px;
}
input {
  padding: 12px 24px;
  width: 100%;
  max-width: 200px;
  border: 1px solid #ddd;
  margin: 16px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  color: var(--purpuleColor);
}
input:focus-visible {
  outline-color: var(--purpuleColor);
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #111;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}
th {
  background-color: #111;
}
#result {
  width: 100%;
  max-width: 850px;
  border-radius: 8px;
}
.totals {
  padding: 0 40px;
}
.content-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 16px 0;
}
.btn {
  width: 90%;
  background-color: var(--purpuleColor);
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, 0.15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.btn:hover {
  background-color: var(--purpuleColor);
  opacity: 1;
  transform: translateY(0);
  transition-duration: 0.35s;
}

.btn:active {
  transform: translateY(2px);
  transition-duration: 0.35s;
}

.btn:hover {
  box-shadow: rgba(39, 174, 96, 0.2) 0 6px 12px;
}

.light {
  color: var(--primaryColor);
}
.sip-content {
  width: 100%;
  max-width: 800px;
  background-color: #111;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 12px;
  margin: 48px 0;
}

@media (max-width: 768px) {
  .calculator{
    height: 100%;
  }
  .content {
    flex-direction: column;
  }
  .content-btn {
    padding: 4px 0;
  }
}
